.navFullWidth {
    width: 100%;
}

.page-wrapper {
    background-color: #fff;
    width: 100%;
}

.collection-wrapper {
    height: 100vh;
    padding: 100px 30px 50px 30px;
    width: 70%;
}

.tracklist-header {
    display: flex;
    margin-top: 90px;
}

.tracklist {
    width: 30%;
    padding-top: 100px;
    background-color: #FEDF0D;
    height: 100vh;
    position: fixed;
    padding: 50px 50px;
    top: 0;
    overflow: scroll;
}

.tracklist-title {
    padding-left: 20px;
    padding-top: 20px;
}

.tracklist-output p {
    line-height: 30px;
}

.intro {
    width: 50%;
}

.intro h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.discogs-input {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.discogs-input button {
    width: 30%;
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 15px;
}

.discogs-input input[type=text] {
    width: 60%;
    background: #fff;
}

.release-output-wrapper {
    width: 100%;
}

.kaart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.release {
    margin: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 40px;
}

.release-details {
    justify-content: space-between;
    flex-basis: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
}

button:focus {
    outline: none;
}

.tracklist-img img {
    height: 144px;
    width: 144px;
    object-fit: cover;
}


/* TEST///////////////////////////TEST///////////////////////////TEST///////////////////////////TEST */
.cover {
    width: 170px;
    height: 170px;
    object-fit: cover;
}
/* TEST///////////////////////////TEST///////////////////////////TEST///////////////////////////TEST */

/* SORT BUTTONs AND SEARCH FIELD */

.sort {
    display: flex;
    width: 78%;
    justify-content: flex-end;
}

.sort-button {
    width: auto;
    border-radius: 0px;
    font-size: 11px;
    background-color: #222222;
    border: 2px solid #222222;    
    margin-bottom: 30px;
    font-weight: normal;
    transition: 0s;
}

.sort-button-active {
    background-color: #fff;
    color: #222222;
}


.input {
    margin-bottom: 30px;
    width: 78%;
    
}

.sort, .input {
    margin-right: 70px;
}

@media only screen and (max-width: 950px) {

    .intro,
    .discogs-input input[type=text], .collection-wrapper {
        width: 100%;
    }

    .release {
        margin: 0;
    }

    .release .input {
        width: 100%;
        margin-right: 0px;
    }

    .sort {
        width: 100%;
        margin: 0;
    }

    .release-details {
        flex-basis: 100%;
        margin-right: 0;
    }

    .cover {
        width: 100%;
    }

    .discogs-input button {
        font-size: 12px;
    }
}

@media only screen and (max-width: 1300px) {
    .tracklist-header {
        flex-direction: column;
    }

    .tracklist-title {
        padding-left: 0;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .tracklist-img img {
        height: 150px;
        width: 150px;
    }

    .tracklist {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 80%;
        padding: 30px;
    }

    .tracklist-header {
        margin-top: 0;
    }
} 