.page-wrapper {
    background-color: #fff;
    width: 100%;
}

.collection-wrapper {
    padding: 30px 0px 30px 33px;/* changed left padding to 30px */
    max-width: 1100px; /* changed from 1000px to 1100px*/
}

.intro {
    width: 50%;
}

.intro h1 {
    font-size: 18px;
    margin-bottom: 20px;
}

.discogs-input {
    display: flex;
    width: 100%;
    margin-top: 40px;
}

.discogs-input button {
    width: 30%;
    font-size: 14px;
    margin-left: 5px;
    padding: 5px 15px;
}

.discogs-input input[type=text] {
    width: 60%;
    background: #fff;
}

.release-output-wrapper {
    width: 100%;
}

.kaart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.release{
    margin: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.title {
    text-align: left;
    margin-top: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 20%;
    margin: 6px 24px 6px 0px; /* added margin */
}

button:focus{
    outline:none;
 }


/* TEST///////////////////////////TEST///////////////////////////TEST///////////////////////////TEST */
.covers {
    width: 200px;
    height: 200px;
    object-fit: cover;    
}

.covers:after {
    content:"";
    display: block;
}

.tracklist {
    width: 33%;
}

.testbutton {
    margin: 0 0 24px 0
}

/* TEST///////////////////////////TEST///////////////////////////TEST///////////////////////////TEST */

@media only screen and (max-width: 950px) {
    .intro, .discogs-input input[type=text] {
        width: 100%;
    }

    .collection-wrapper {
        margin-top: 25px;
        width: 100%;
    }

    .covers {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 650px) {
    .info {
        width: 40%;
    }

    .covers {
        width: 200px;
        height: 200px;
    }
}